@use 'base/variables' as *;

@use 'components/responsive' as *;

#is_fb_menu {
	.et_pb_menu__wrap {
		order: 1;
	}

	.faehre-status-button-wrapper {
		display: flex;
		order: 2;

		button {
			cursor: pointer;
			font-size: 14px;
			padding: 6px 20px;
			text-decoration: none;
		}
	}

	@include responsive(mobile_tablet) {
		.et_pb_menu__wrap {
			order: 2;
		}

		.faehre-status-button-wrapper {
			order: 1;
		}
	}
}

.faehre-status-button {
	border: 0;
	color: $faehre-white;
	cursor: default;
	font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
	font-size: 1.2rem;
	font-weight: bold;
	padding: 10px 20px;

	&.status-0 {
		background-color: $faehre-in-service;
	}

	&.status-1 {
		background-color: $faehre-limited-service;
	}

	&.status-2 {
		background-color: $faehre-out-of-service;
	}
}

#faehrebelgern-status-wrapper {
	&.status-0 {
		p {
			color: $faehre-in-service;
		}

		&.planned p {
			background-color: $faehre-in-service-light;
			border-color: $faehre-in-service;
		}
	}

	&.status-1 {
		p {
			color: $faehre-limited-service;
		}

		&.planned p {
			background-color: $faehre-limited-service-light;
			border-color: $faehre-limited-service;
			margin-bottom: 30px;
		}
	}

	&.status-2 {
		p {
			color: $faehre-out-of-service;
		}

		&.planned p {
			background-color: $faehre-out-of-service-light;
			border-color: $faehre-out-of-service;
		}
	}

	&.planned p {
		border-style: solid;
		border-width: 2px;
		padding: 10px;
	}

	p {
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	#faehrebelgern-status-date {
		color: $faehre-status-date;
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 14px;
		font-style: italic;
		font-weight: normal;
		margin-top: 8px;
	}
}