$in-service: #28a745;
$limited-service: #ffc107;
$out-of-service: #dc3545;
$white: #ffffff;

.faehrebelgern-status-wrapper {
	&.in-service button {
		background-color: $in-service;
	}

	&.limited-service button {
		background-color: $limited-service;
	}

	&.out-of-service button {
		background-color: $out-of-service;
	}

	button {
		border: 0;
		color: $white;
		cursor: default;
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 1.2rem;
		font-weight: bold;
		padding: 10px 20px;
	}

	div {
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 16px;
		margin-top: 20px;
	}
}