@use 'base/variables' as *;

.faehrebelgern-status-wrapper {
	&.in-service button {
		background-color: $faehre-in-service;
	}

	&.limited-service button {
		background-color: $faehre-limited-service;
	}

	&.out-of-service button {
		background-color: $faehre-out-of-service;
	}

	button {
		border: 0;
		color: $faehre-white;
		cursor: default;
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 1.2rem;
		font-weight: bold;
		padding: 10px 20px;
	}

	div {
		font-family: 'Raleway', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
		font-size: 16px;
		margin-top: 20px;
	}
}