@use 'base/variables' as *;

.form-table {
	&.status-0 {

		&.status-display,
		.default-comment-preview,
		textarea {
			border: 2px solid $faehre-in-service;
			border-radius: 4px;
		}
	}

	&.status-1 {

		&.status-display,
		.default-comment-preview,
		textarea {
			border: 2px solid $faehre-limited-service;
			border-radius: 4px;
		}
	}

	&.status-2 {

		&.status-display,
		.default-comment-preview,
		textarea {
			border: 2px solid $faehre-out-of-service;
			border-radius: 4px;
		}
	}
}

.default-comment-preview {
	margin-bottom: 10px;
	padding: 8px;

	.default-text {
		display: block;
		font-style: italic;
		margin-bottom: 5px;
	}
}

table.form-table {
	&.status-display {
		display: block;
		padding: 5px;
	}

	th,
	td {
		padding-bottom: 5px;
		padding-top: 5px;
	}
}